<div class="container">
    <div class="w-100  mb-16">
        <h1 class="orb-typography h1">Create a link</h1>
        <p class="text-muted">Create a link to be shortened</p>
    </div>

    <div class="d-flex justify-content-center align-items-center min-vh-50">
        <div class="content w-75">
            <div class="card shadow">
                <div class="card-body">
                    <form [formGroup]="urlForm" class="p-4">
                        <div class="mb-3">
                            <label for="Long" class="form-label">Long URL <span class="text-danger">*</span></label>
                            <input type="text" formControlName="long_url" class="form-control" id="Long">
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center mt-3">
                <button [disabled]="urlForm.invalid || isSubmitting" class="btn  btn-primary me-3" (click)="onSubmit()">
                    <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>

                    Create Link</button>
                <button class="btn btn-danger" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>


</div>