<div class="container">
    <div class="w-100  mb-16">
        <h1 class="orb-typography h1">Link Analytics</h1>
        <p class="text-muted">View Link Analytics</p>
    </div>

    <div class="content mb-3">
        <div class="row pt-4">
            <div class="col-5">
                <div class="flex-grow-1">
                    <input (keyup)="onSearch($event)" class="form-control border-0" type="text"
                        placeholder="Search links..." [(ngModel)]="searchTerm" />
                </div>
            </div>

        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Short Code</th>
                        <th scope="col">clicks</th>
                        <th scope="col">Created At</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filterResults" routerLink="/home/link-analytics/{{item?.short_code}}">
                        <th scope="row">{{item?.name}}</th>
                        <td>{{item?.short_code}}</td>
                        <td>{{item?.clicks}}</td>
                        <td>{{item?.created_at | date}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>