<!-- Section: Design Block -->
<section class="container-fluid">
    <div class="px-4 py-5 px-md-5 text-center login-section text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Simplify Your Links <br />
                        <span class="text-primary">Shorten, Share, Track</span>
                    </h1>
                    <p class="tg-text">
                        A fast, secure, and scalable URL shortener built for seamless link management.
                        Shorten long URLs, track analytics, and manage your links effortlessly.
                    </p>
                </div>


                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="first_name" class="form-control"
                                                formControlName="first_name" />
                                            <label class="form-label" for="first_name">First name</label>
                                            <div *ngIf="f['first_name'].touched && f['first_name'].invalid"
                                                class="text-danger">
                                                First name is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="last_name" class="form-control"
                                                formControlName="last_name" />
                                            <label class="form-label" for="last_name">Last name</label>
                                            <div *ngIf="f['last_name'].touched && f['last_name'].invalid"
                                                class="text-danger">
                                                Last name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <select id="gender" class="form-control" formControlName="gender">
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                            </select>
                                            <label class="form-label" for="gender">Gender</label>
                                            <div *ngIf="f['gender'].touched && f['gender'].invalid" class="text-danger">
                                                Gender is required.
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="address" class="form-control"
                                                formControlName="address" />
                                            <label class="form-label" for="address">Address</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="username" class="form-control"
                                                formControlName="username" />
                                            <label class="form-label" for="username">Username</label>
                                            <div *ngIf="f['username'].touched && f['username'].invalid"
                                                class="text-danger">
                                                Username is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="email" id="email" class="form-control"
                                                formControlName="email" />
                                            <label class="form-label" for="email">Email</label>
                                            <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                                                Enter a valid email.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" id="password" class="form-control" formControlName="password"
                                        [ngClass]="{ 'is-invalid': f['password'].invalid && f['password'].touched }" />
                                    <label class="form-label" for="password">Password <span
                                            class="text-danger">*</span></label>
                                    <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                                        <div *ngIf="f['password'].hasError('pattern')">Password must contain at least
                                            URL is required.</div>
                                    </div>
                                </div>


                                <!-- Submit button -->
                                <div class="text-center">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-primary btn-block mb-4 register-btn"
                                        [disabled]="registerForm.invalid || isSubmitting">

                                        <!-- Loading spinner (visible only when isSubmitting is true) -->
                                        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true"></span>

                                        Register
                                    </button>
                                </div>

                            </form>

                            <div class="row text-center">
                                <p>Have an account ? <button class="btn btn-sm btn-outline-primary border-0"
                                        routerLink="/auth/login">Go to login</button></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->