.login-section {
    background-color: hsl(0, 0%, 96%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.tg-text {
    color: hsl(217, 10%, 50.8%)
}

.register-btn {
    min-width: 200px !important;
}