<nav class="sb-topnav navbar navbar-expand navbar-light">
    <a class="navbar-brand ps-3">Url Shorten</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" (click)="onButtonClick()"><i
            class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group position-relative">
            <input class="form-control" type="text" placeholder="Links or Analytics..."
                aria-label="Search for links or analytics" aria-describedby="btnNavbarSearch" [(ngModel)]="searchTerm"
                name="searchTerm" (input)="onInput()" autocomplete="off" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button" (click)="onSearch()">
                <i class="fas fa-search"></i>
            </button>
            <!-- Dropdown -->
            <div class="dropdown-menu show" *ngIf="showDropdown && searchTerm"
                style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 1000;">
                <div class="px-3 py-2">
                    <div>Search for "<b>{{ searchTerm }}</b>" in:</div>
                    <div class="mt-2">
                        <button class="btn btn-outline-primary btn-sm me-2" (click)="navigateTo('links')">Links</button>
                        <button class="btn btn-outline-secondary btn-sm"
                            (click)="navigateTo('analytics')">Analytics</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"> {{ user.first_name }} {{ user.last_name }} </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-danger" style="cursor: pointer;" (click)="logout()">logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<hr>