<div id="layoutSidenav_content" style="display: flex; flex-direction: column; height: 100vh;">
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="block-container justify-content-center flex-wrap background-white p-24 border-radius-8">

                <div class="row bg-light p-5">
                    <!-- Card-section  -->
                    <div class="col col-card">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <div class="image-block">
                                        <img class="img" src="assets/img/bitly_links.png" alt="">
                                    </div>
                                </div>
                                <div class="col d-flex">
                                    <div class="align-content-center justify-content-center align-items-center">
                                        <h5 class="text-align-center text-primary">Make it short</h5>
                                        <button (click)="gotoLinks()" class="orb-button text-primary secondary-brand"
                                            tabindex="0">Go
                                            to links
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-card">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <div class="image-blockx">
                                        <img class="img-pi" src="assets/img/pie-chart.png" alt="">
                                    </div>
                                </div>
                                <div class="col d-flex">
                                    <div class="align-content-center justify-content-center align-items-center">
                                        <h5 class="text-align-center">Analytics</h5>
                                        <button routerLink="/home/link-analytics"
                                            class="orb-button border-0 secondary-brand" tabindex="0">Check analytics
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Url Shorten {{today}}</div>
                <div>
                    <p>Crafted with with love</p>
                </div>
            </div>
        </div>
    </footer>
</div>